* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf);
}
h1 {
  text-align: center;
}

/*HEADER*/
header {
  background-color: rgb(207, 118, 118);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 10px 12px;
  width: 100%;
}
header div {
  width: 100%;
}
header div nav {
  display: flex;
  width: 100%;
}
header div nav div div a .logo {
  width: 112px;
}
header div nav div ul {
  list-style-type: none;
  padding-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 84px;
}
header div nav div ul li {
  display: inline-flex;
  color: black;
  font-weight: bold;
  text-decoration: none;
  justify-content: end;
  padding-left: 50px;
}
header div nav div ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-between;
  padding-left: 50px;
}
header div nav div ul li a .nav-link {
  color: black;
  font-weight: bold;
}
header div nav div ul li a .nav-link:hover {
  color: rgb(227, 184, 240);
}

/* INICIA MAIN inicio/index */
.main {
  /*Fin Main Inicio/index */
  /*Main bebes*/
  /*Fin Main bebes*/
}
.main .cajaCards {
  position: relative;
  display: inline-block;
  text-align: center;
}
.main #subtitulo {
  background-color: rgba(209, 144, 82, 0.411);
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 2rem;
}
.main div.bebe .bbPeluche {
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
}
.main .h2home {
  font-family: "Roboto-Light";
  text-align: center;
  color: rgb(158, 180, 178);
  font-size: 20px;
  height: 60px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 10px;
}
.main .imgNenas { /*seccion inicio*/
  margin-right: 10px;
  margin-bottom: 3%;
  margin-top: 2%;
  margin-left: 17px;
}
.main .imgNinos {
  margin-bottom: 3%;
  margin-top: 1%;
}
.main .portadas img {
  width: 100%;
  height: 500px;
}
.main .imgProductosb {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 450px;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: black;
  border-style: groove;
}
.main .imgProductos {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: black;
  border-style: groove;
}

/*footer*/
footer {
  background-color: rgb(225, 226, 218);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}
footer div {
  display: inline;
  width: 138px;
  height: 48px;
}
footer div span {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  flex-direction: row-reverse;
  width: 70%;
  margin-top: 10px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header nav {
    width: 100%;
    height: 90px;
  }
  header nav div {
    width: 100%;
  }
  header nav div a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    padding-left: 10px;
  }
  header nav div a img.logo {
    width: 100px;
    height: 76px;
  }
  header nav div ul {
    align-items: end;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  main .carousel-item img {
    height: 180px;
  }
  main .portadas {
    width: 100%;
    height: 200px;
    margin-left: 2px;
  }
  main .descripciones {
    text-align: center;
    color: darkgray;
    background-color: aliceblue;
    font-family: math;
    font-size: 17px;
    margin-top: 7px;
  }
  main .col-12 {
    flex: 0 0 auto;
    width: 100%;
    display: grid;
    justify-content: center;
  }
  main .producto1 {
    width: 300px;
  }
  main .imgProductos {
    margin-right: 15px;
    margin-left: 4px;
    margin-top: 15px;
    margin-bottom: 2px;
    width: 360px;
    height: 310px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #b9d0e2;
    border-style: groove;
  }
  main .descripcion {
    font-weight: bold;
  }
  main .precio {
    font-weight: bold;
  }
  main .boton {
    margin-top: 3px;
    margin-bottom: 22px;
  }
  main .contacto {
    width: 100%;
    display: inline;
    align-items: center;
  }
  main input {
    margin: 3px;
    height: 35px;
    border-radius: 8px;
    background-color: #dae9ff;
    color: rgb(4, 5, 5);
    border-bottom-color: rgb(221, 223, 219);
  }
  main .carousel-item img {
    width: 340px;
    height: 326.92;
  }
  main #subtitulo {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1rem;
  }
  main div.bebe {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.bebe .bbPeluche {
    margin-left: 17px;
    width: 82%;
  }
  main .h2home {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto-Light";
    font-size: 13px;
    height: 38px;
    margin-left: 15px;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-top: 2px;
    color: black;
  }
  main div.ninios {
    width: 100%;
    text-align-last: center;
  }
  main div.ninios div.ninia {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.ninios div.ninia .imgNenas {
    margin-right: 11px;
    margin-bottom: 16px;
    margin-left: 22px;
    width: 260px;
  }
  main div.ninios div.ninio {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.ninios div.ninio .imgNinos {
    margin-right: 11px;
    margin-bottom: 10px;
    margin-left: 22px;
    width: 260px;
  }
  main form {
    margin: 15px;
  }
  main form textarea {
    display: inline-table;
  }
  main form input {
    margin: 2px;
    margin-left: 12px;
  }
  main iframe {
    width: 300px;
    height: 249px;
    margin: 10px;
  }
  footer {
    margin-left: 2px;
    background-color: rgb(225, 226, 218);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
    height: 50px;
  }
  footer div {
    display: flex;
    width: 100%;
    height: 35px;
    text-align: center;
    align-items: center;
  }
  footer div a img {
    width: 35px;
  }
  footer span {
    margin-bottom: 4px;
    flex-direction: row-reverse;
    width: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header nav {
    width: 100%;
    height: 115px;
  }
  header nav div {
    width: 100%;
  }
  header nav div a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    padding-left: 10px;
  }
  header nav div a img.logo {
    width: 158px;
    border-radius: 20px;
    height: 107px;
  }
  header nav div ul {
    align-items: end;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  main .carousel-item img {
    height: 230px;
  }
  main .portadas {
    width: 100%;
    height: 290px;
  }
  main .descripciones {
    text-align: center;
    color: darkgray;
    background-color: aliceblue;
    font-family: math;
    font-size: 25px;
    margin-top: 11px;
  }
  main .producto1 {
    width: 300px;
  }
  main .imgProductos {
    margin-right: 15px;
    margin-left: 1px;
    margin-top: 46px;
    margin-bottom: 6px;
    width: 328px;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #b9d0e2;
    border-style: groove;
  }
  main .descripcion {
    font-weight: bold;
  }
  main .precio {
    font-weight: bold;
  }
  main .boton {
    margin-top: 3px;
    margin-bottom: 22px;
  }
  main input {
    margin: 3px;
    height: 35px;
    border-radius: 8px;
    background-color: #dae9ff;
    color: rgb(4, 5, 5);
    border-bottom-color: rgb(221, 223, 219);
  }
  main .carousel-item img {
    width: 340px;
    height: 326.92;
  }
  main #subtitulo {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.3rem;
  }
  main div.bebe {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.bebe .bbPeluche {
    margin-left: 17px;
    width: 58%;
  }
  main .h2home {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto-Light";
    font-size: 13px;
    height: 38px;
    margin-left: 15px;
    margin-top: 1%;
    margin-bottom: 0%;
    padding-top: 2px;
    color: black;
  }
  main div.ninios {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.ninios .imgNenas {
    margin-right: 11px;
    margin-bottom: 18px;
    margin-left: 22px;
    width: 348px;
  }
  main div.ninios .imgNinos {
    padding: 2px;
    margin-right: 21px;
    margin-bottom: 18px;
    margin-left: 13px;
    width: 348px;
  }
  main .contacto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  main form {
    margin: 15px;
  }
  main form textarea {
    display: inline-table;
  }
  main form input {
    margin: 2px;
    margin-left: 12px;
  }
  main iframe {
    width: 400px;
    height: 262px;
    margin: 10px;
  }
  footer {
    margin-left: 2px;
    background-color: rgb(225, 226, 218);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
    height: 60px;
  }
  footer div {
    display: flex;
    width: 100%;
    height: 48px;
    text-align: center;
  }
  footer div a img {
    width: 52px;
  }
  footer span {
    margin-bottom: 4px;
    flex-direction: row-reverse;
    width: 70%;
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header nav {
    width: 100%;
    height: 115px;
  }
  header nav div {
    width: 100%;
  }
  header nav div a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    padding-left: 10px;
  }
  header nav div a img.logo {
    width: 156px;
    height: 113px;
    border-radius: 20px;
  }
  header nav div ul {
    align-items: end;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  header nav div ul li {
    margin: 20px;
  }
  header nav div ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 50px;
  }
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  main .carousel-item img {
    height: 410px;
  }
  main .portadas {
    width: 100%;
    height: 418px;
    margin-left: 2px;
  }
  main .descripciones {
    text-align: center;
    color: darkgray;
    background-color: aliceblue;
    font-family: math;
    font-size: 30px;
    margin-top: 15px;
  }
  main .producto1 {
    width: 300px;
  }
  main .imgProductos {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 375px;
    height: 440px;
    border-color: #b9d0e2;
    border-style: groove;
  }
  main .descripcion {
    font-weight: bold;
  }
  main .precio {
    font-weight: bold;
  }
  main .boton {
    margin-top: 3px;
    margin-bottom: 22px;
  }
  main input {
    margin: 3px;
    height: 35px;
    border-radius: 8px;
    background-color: #dae9ff;
    color: rgb(4, 5, 5);
    border-bottom-color: rgb(221, 223, 219);
  }
  main .carousel-item img {
    width: 340px;
    height: 326.92;
  }
  main #subtitulo {
    font-family: "Roboto-Light";
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2rem;
  }
  main div.bebe {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.bebe .bbPeluche {
    margin-left: 17px;
    width: 58%;
  }
  main .h2home {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto-Light";
    font-size: 24px;
    height: 38px;
    margin-left: 15px;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-top: 2px;
    color: black;
  }
  main div.ninios {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.ninios .imgNenas {
    margin-right: 11px;
    margin-bottom: 18px;
    margin-left: 22px;
    width: 400px;
  }
  main div.ninios .imgNinos {
    padding: 2px;
    margin-right: 21px;
    margin-bottom: 18px;
    margin-left: 13px;
    width: 400px;
  }
  main .contacto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  main form {
    margin: 15px;
  }
  main form textarea {
    display: inline-table;
  }
  main form input {
    margin: 2px;
    margin-left: 12px;
  }
  main iframe {
    width: 457px;
    height: 315px;
    margin: 10px;
  }
  footer {
    background-color: rgb(225, 226, 218);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
    height: 65px;
  }
  footer div {
    display: flex;
    width: 100%;
    height: 60px;
  }
  footer div a img {
    width: 50px;
  }
  footer div span {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    width: 100%;
    margin-top: 23px;
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
