* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf);
}
h1 {
  text-align: center;
}

/*HEADER*/
header {
  background-color: rgb(207, 118, 118);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 10px 12px;
  width: 100%;
}
header div {
  width: 100%;
}
header div nav {
  display: flex;
  width: 100%;
}
header div nav div div a .logo {
  width: 112px;
}
header div nav div ul {
  list-style-type: none;
  padding-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 84px;
}
header div nav div ul li {
  display: inline-flex;
  color: black;
  font-weight: bold;
  text-decoration: none;
  justify-content: end;
  padding-left: 50px;
}
header div nav div ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-between;
  padding-left: 50px;
}
header div nav div ul li a .nav-link {
  color: black;
  font-weight: bold;
}
header div nav div ul li a .nav-link:hover {
  color: rgb(227, 184, 240);
}

/* INICIA MAIN inicio/index */
.main {
  /*Fin Main Inicio/index */
  /*Main bebes*/
  /*Fin Main bebes*/
}
.main .cajaCards {
  position: relative;
  display: inline-block;
  text-align: center;
}
.main #subtitulo {
  background-color: rgba(209, 144, 82, 0.411);
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 2rem;
}
.main div.bebe .bbPeluche {
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
}
.main .h2home {
  font-family: "Roboto-Light";
  text-align: center;
  color: rgb(158, 180, 178);
  font-size: 20px;
  height: 60px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 10px;
}
.main .imgNenas { /*seccion inicio*/
  margin-right: 10px;
  margin-bottom: 3%;
  margin-top: 2%;
  margin-left: 17px;
}
.main .imgNinos {
  margin-bottom: 3%;
  margin-top: 1%;
}
.main .portadas img {
  width: 100%;
  height: 500px;
}
.main .imgProductosb {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 450px;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: black;
  border-style: groove;
}
.main .imgProductos {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: black;
  border-style: groove;
}

/*footer*/
footer {
  background-color: rgb(225, 226, 218);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}
footer div {
  display: inline;
  width: 138px;
  height: 48px;
}
footer div span {
  margin-bottom: 4px;
  flex-direction: row-reverse;
  width: 70%;
  margin-top: 23px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header nav {
    width: 100%;
  }
  header nav div {
    width: 100%;
  }
  header nav div a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    padding-left: 10px;
  }
  header nav div a img.logo {
    width: 112px;
  }
  header nav div ul {
    align-items: end;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  main .carousel-item img {
    height: 158px;
  }
  main .portadas {
    width: 100%;
    height: 200px;
  }
  main .imgProductos {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #b9d0e2;
    border-style: groove;
  }
  main .carousel-item img {
    width: 340px;
    height: 326.92;
  }
  main #subtitulo {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1rem;
  }
  main div.bebe {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.bebe .bbPeluche {
    margin-left: 17px;
    width: 58%;
  }
  main .h2home {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto-Light";
    font-size: 13px;
    height: 38px;
    margin-left: 15px;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-top: 2px;
    color: black;
  }
  main div.NN {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.NN .imgNenas {
    margin-right: 11px;
    margin-bottom: 16px;
    margin-left: 22px;
    width: 260px;
  }
  main div.NN {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.NN .imgNinos {
    margin-right: 11px;
    margin-bottom: 10px;
    margin-left: 22px;
    width: 260px;
  }
  main form {
    margin: 15px;
  }
  main form textarea {
    display: inline-table;
  }
  main form input {
    margin: 2px;
    margin-left: 12px;
  }
  main iframe {
    width: 300px;
    height: 249px;
    margin: 10px;
  }
  footer {
    margin-left: 2px;
    background-color: rgb(225, 226, 218);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
    height: 35px;
  }
  footer div {
    display: inline;
    width: 100%;
    height: 35px;
  }
  footer div a img {
    width: 25px;
  }
  footer span {
    margin-bottom: 4px;
    flex-direction: row-reverse;
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header div {
    width: 100%;
  }
  header div .logo a img {
    height: 100px;
  }
  header div .nav-link {
    color: black;
    font-weight: bold;
  }
  header div .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  main .portadas {
    width: 100%;
    height: 232px;
    margin: 3px;
  }
  main #subtitulo {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.3rem;
  }
  main div.bebe {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.bebe .bbPeluche {
    margin-left: 17px;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  main .h2home {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: "Roboto-Light";
    font-size: 13px;
    height: 38px;
    margin-top: 4.5px;
    margin-bottom: 0.1px;
    padding-top: 7px;
    color: black;
  }
  main div.imgNinios {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  main div.imgNinios .imgNenas {
    margin-right: 21px;
    margin-bottom: 18px;
    margin-top: 0%;
    margin-left: 13px;
    width: 400px;
  }
  main div.imgNinios .imgNinos {
    margin-right: 24px;
    padding: 2px;
    margin-bottom: 18px;
    width: 400px;
  }
  main .imgProductos {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 270px;
    height: 215px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #b9d0e2;
    border-style: groove;
  }
  main form {
    margin: 15px;
  }
  main form textarea {
    display: inline-table;
  }
  main form input {
    margin: 2px;
    margin-left: 12px;
  }
  main iframe {
    width: 440px;
    height: 262px;
    margin: 10px;
  }
  footer div {
    display: inline;
    width: 138px;
    height: 48px;
  }
  footer div span {
    margin-bottom: 4px;
    flex-direction: row-reverse;
    width: 70%;
    margin-top: 23px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header div {
    width: 100%;
  }
  header .logo {
    width: 150px;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav {
    margin: 0;
    margin-left: 154px;
    flex-direction: row;
    justify-content: flex-end;
  }
  ul {
    list-style-type: none;
    padding-left: 50px;
    margin-left: 100px;
    margin-bottom: 7rem;
  }
  ul li {
    display: inline;
    margin: 10px;
  }
  ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 50px;
  }
  ul .nav-link {
    color: black;
    font-weight: bold;
  }
  ul .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  main .portadas {
    width: 100%;
    height: 400px;
    margin: 3px;
  }
  main .imgProductos {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 459px;
    height: 444px;
    border-color: #b9d0e2;
    border-style: groove;
  }
  main div.contacto {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  main div.contacto form {
    width: 200px;
    margin: 15px;
  }
  main div.contacto form textarea {
    display: inline-table;
  }
  main div.contacto form input {
    margin: 2px;
    margin-left: 12px;
  }
  main div.contacto iframe {
    width: 440px;
    height: 262px;
    margin: 10px;
  }
  main .logo a img {
    width: 80px;
    height: 100px;
  }
  main #subtitulo {
    margin-top: 3px;
  }
  main div.bebe {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main div.bebe .bbPeluche {
    margin-left: 15px;
    margin-right: 15px;
    width: 70%;
    height: 430px;
  }
  main .h2home {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    height: 34px;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  main div.imgNinios {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  main div.imgNinios .imgNenas {
    margin-right: 11px;
    padding: 2px;
    margin-bottom: 3%;
    margin-top: 0%;
    margin-left: 44px;
    width: 510px;
  }
  main div.imgNinios .imgNinos {
    margin-right: 24px;
    padding: 2px;
    margin-bottom: 3%;
    margin-top: 0%;
    margin-left: 24px;
    width: 510px;
  }
  footer {
    background-color: rgb(225, 226, 218);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
    height: 65px;
  }
  footer div {
    display: flex;
    width: 100%;
    height: 60px;
  }
  footer div a img {
    width: 50px;
  }
  footer div span {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    width: 100%;
    margin-top: 23px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
