@media screen and (max-width: 767px){
    header{
        background-color: $color-backgraund;
        border-radius: 15px;
        nav{
            width: 100%;
            height: 90px;
            z-index: 3;
        div{
            width: 100%;
            a{
                color: $color-a;
                font-weight: bold;
                text-decoration: none;
                justify-content:center;
                padding-left: 10px;
                img.logo{
                    width: 100px;
                    height: 76px;
                }
            }
        }
        div{
        ul{
            align-items: end;
            list-style-type: none;
            padding-left: 0px;
            margin-left: 0px;
        }
    }
    }
    }
    
.nav-link{
color: $color-a;
font-weight: bold;
&:hover{
    color: $color-hover;
}
}
main{
    .carousel-item img {
        height: 180px;
    }
.portadas{
            width: 100%;
            height: 200px;
            margin-left: 2px;
        }
        .descripciones{
            text-align: center;
            color: darkgray;
            background-color: aliceblue;
            font-family: math;
            font-size: 17px;
            margin-top: 7px;
        }
        .col-12 {
            flex: 0 0 auto;
            width: 100%;
            display: grid;
            justify-content: center;
        }

        .producto1{
            width: 300px;
        }
.imgProductos{
            margin-right:15px ;
            margin-left: 4px;
            margin-top: 15px;
            margin-bottom: 2px;
            width: 360px;
            height: 310px;
            padding-left: 15px;
            padding-right: 15px;
            border-color: #b9d0e2;
            border-style: groove;
        }
        .descripcion{
            font-weight: bold;
        }
        .precio{
            font-weight: bold;
        }

        .boton{
            margin-top: 3px;
            margin-bottom: 22px;
        }
        .contacto{
            width: 100%;
            display: inline;
            align-items: center;
        }

        input{
            margin: 3px;
            height: 35px;
            border-radius: 8px;
            background-color: #dae9ff;
            color: rgb(4, 5, 5);
            border-bottom-color: rgb(221 223 219);
        }
        
.carousel-item img{
            width: 340px;
            height: 326.92;
        }
#subtitulo {
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 1rem;
        }

div.bebe {
        width: 100%;
        display: flex;
        justify-content: center;
            .bbPeluche{
                    margin-left: 17px;
                    width: 82%;
                    }
        }
    

.h2home{
    display: flex;
    justify-content: center;
    text-align: center;
            font-family: "Roboto-Light";
            font-size: 13px;
            height: 38px;
            margin-left: 15px;
            margin-top: 0%;
            margin-bottom: 1%;
            padding-top: 2px;
            color: $color-a;
            }
            div.ninios{
                width: 100%;
                text-align-last: center;
                div.ninia{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .imgNenas  {
                        margin-right: 11px;
                            margin-bottom: 16px;
                            margin-left: 22px;
                            width: 260px;
                        }
                }
                div.ninio{
                    width: 100%;
                    display: flex;
                    justify-content: center;
            .imgNinos  {
                margin-right: 11px;
                margin-bottom: 10px;
                margin-left: 22px;
                width: 260px;
            }
        }
        }

        form{
            margin: 15px;
            textarea{
                display: inline-table;
            }
            input{
                margin: 2px;
                margin-left: 12px;
            }
        }
        iframe{
            width: 300px;
            height: 249px;
            margin: 10px;
        }
    }
footer  { 
    margin-left: 2px;
    background-color: rgb(225, 226, 218);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
    height: 50px;
        div{
            display: flex;
            width: 100%;
            height: 35px;
            text-align: center;
            align-items: center;
            a{
                img{
                    width: 35px;
                }
            }
                }
            span{
                margin-bottom: 4px;
                flex-direction: row-reverse;
                width: 100%;
                font-size: 11px;
                display: flex;
                align-items: center;
            }
        }

}

@media screen and (min-width:768px) and (max-width: 1023px){
    header{
        background-color: $color-backgraund;
        border-radius: 15px;
        nav{
            width: 100%;
            height: 115px;
            z-index: 3;
        div{
            width: 100%;
            a{
                color: $color-a;
                font-weight: bold;
                text-decoration: none;
                justify-content:center;
                padding-left: 10px;
                img.logo{
                    width: 158px;
                    border-radius: 20px;
                    height: 107px;
                }
            }
        }
        div{
        ul{
            align-items: end;
            list-style-type: none;
            padding-left: 0px;
            margin-left: 0px;
        }
    }
    }
    }
    
.nav-link{
color: $color-a;
font-weight: bold;
&:hover{
    color: $color-hover;
}
}

main{
    .carousel-item img {
        height: 230px;
    }
.portadas{
            width: 100%;
            height: 290px;
        }
        .descripciones{
            text-align: center;
            color: darkgray;
            background-color: aliceblue;
            font-family: math;
            font-size: 25px;
            margin-top: 11px;
        }
        .producto1{
            width: 300px;
        }
.imgProductos{
            margin-right:15px ;
            margin-left: 1px;
            margin-top: 46px;
            margin-bottom: 6px;
            width: 328px;
            height: 300px;
            padding-left: 15px;
            padding-right: 15px;
            border-color: #b9d0e2;
            border-style: groove;
        }
        .descripcion{
            font-weight: bold;
        }
        .precio{
            font-weight: bold;
        }

        .boton{
            margin-top: 3px;
            margin-bottom: 22px;
        }

        input{
            margin: 3px;
            height: 35px;
            border-radius: 8px;
            background-color: #dae9ff;
            color: rgb(4, 5, 5);
            border-bottom-color: rgb(221 223 219);
        }
        
.carousel-item img{
            width: 340px;
            height: 326.92;
        }
#subtitulo {
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 1.3rem;
        }

div.bebe {
        width: 100%;
        display: flex;
        justify-content: center;
            .bbPeluche{
                    margin-left: 17px;
                    width: 58%;
                    }
        }
    

.h2home{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
            font-family: "Roboto-Light";
            font-size: 13px;
            height: 38px;
            margin-left: 15px;
            margin-top: 1%;
            margin-bottom: 0%;
            padding-top: 2px;
            color: $color-a;
            }
            div.ninios{
                width: 100%;
                display: flex;
                justify-content: center;
        .imgNenas  {
            margin-right: 11px;
                margin-bottom: 18px;
                margin-left: 22px;
                width: 348px;
            }
            .imgNinos  {
                padding: 2px;
                    margin-right: 21px;
                    margin-bottom: 18px;
                    margin-left: 13px;
                    width: 348px;
                }
        }
        .contacto{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        form{
            margin: 15px;
            textarea{
                display: inline-table;
            }
            input{
                margin: 2px;
                margin-left: 12px;
            }
        }
        iframe{
            width: 400px;
            height: 262px;
            margin: 10px;
        }
    }
    footer  { 
        margin-left: 2px;
        background-color: rgb(225, 226, 218);
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 5px 0;
        align-items: center;
        height: 60px;
            div{
                display: flex;
                width: 100%;
                height: 48px;
                text-align: center;
                a{
                    img{
                        width: 52px;
                    }
                }
                    }
                span{
                    margin-bottom: 4px;
                    flex-direction: row-reverse;
                    width: 70%;
                    font-size: 15px;
                }
            }
    
    }
@media screen and (min-width:1024px){

    header{
        background-color: $color-backgraund;
        border-radius: 15px;
        nav{
            width: 100%;
            height: 115px;
        div{
            width: 100%;
            a{
                color: $color-a;
                font-weight: bold;
                text-decoration: none;
                justify-content:center;
                padding-left: 10px;
                img.logo{
                    width: 156px;
                    height: 113px;
                    border-radius: 20px;
                }
            }
        }
        div{
        ul{
            align-items: end;
            list-style-type: none;
            padding-left: 0px;
            margin-left: 0px;
            li{
                margin: 20px;
                a{
                    color: $color-a;
                    font-weight: bold;
                    text-decoration: none;
                    justify-content: space-between;
                    padding-left: 50px;
                }
            }
        }
    }
    }
    }
    
    .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: end;
    }
.nav-link{
color: $color-a;
font-weight: bold;
&:hover{
    color: $color-hover;
}

}
main{
    .carousel-item img {
        height: 410px;
    }
.portadas{
            width: 100%;
            height: 418px;
            margin-left: 2px;
        }

        .descripciones{
            text-align: center;
            color: darkgray;
            background-color: aliceblue;
            font-family: math;
            font-size: 30px;
            margin-top: 15px;
        }

        .producto1{
            width: 300px;
        }

.imgProductos{
            margin-top: 15px;
            margin-bottom: 15px;
            width: 375px;
            height: 440px;
            border-color: #b9d0e2;
            border-style: groove;
        }
        .descripcion{
            font-weight: bold;
        }
        .precio{
            font-weight: bold;
        }

        .boton{
            margin-top: 3px;
            margin-bottom: 22px;
        }

        input{
            margin: 3px;
            height: 35px;
            border-radius: 8px;
            background-color: #dae9ff;
            color: rgb(4, 5, 5);
            border-bottom-color: rgb(221 223 219);
        }

.carousel-item img{
            width: 340px;
            height: 326.92;
        }
#subtitulo {
    font-family: "Roboto-Light";
    font-weight: bold;
            margin-top: 1%;
            margin-bottom: 1%;
            font-size: 2rem;
        }

div.bebe {
        width: 100%;
        display: flex;
        justify-content: center;
            .bbPeluche{
                    margin-left: 17px;
                    width: 58%;
                    }
        }
    

.h2home{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
            font-family: "Roboto-Light";
            font-size: 24px;
            height: 38px;
            margin-left: 15px;
            margin-top: 2%;
            margin-bottom: 1%;
            padding-top: 2px;
            color: $color-a;
            }
            div.ninios{
                width: 100%;
                display: flex;
                justify-content: center;
        .imgNenas  {
            margin-right: 11px;
                margin-bottom: 18px;
                margin-left: 22px;
                width: 400px;
            }
            .imgNinos  {
                padding: 2px;
                    margin-right: 21px;
                    margin-bottom: 18px;
                    margin-left: 13px;
                    width: 400px;
                }
        }
        .contacto{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        form{
            margin: 15px;
            textarea{
                display: inline-table;
            }
            input{
                margin: 2px;
                margin-left: 12px;
            }
        }
        iframe{
            width: 457px;
            height: 315px;
            margin: 10px;
        }
    }
footer{
    background-color: rgb(225, 226, 218);
display: flex;
width: 100%;
justify-content: center;
padding: 5px 0;
align-items: center;
height: 65px;
div {
    display: flex;
    width: 100%;
    height: 60px;
    
    a{
        img{
            width: 50px;
        }
    }
    span {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
        width: 100%;
        margin-top: 23px;
        font-size: 15px;
    }
}
}
}