* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf);
}
h1 {
  text-align: center;
}

/*HEADER*/
header {
  background-color: rgb(207, 118, 118);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 10px 12px;
  width: 100%;
}
header div {
  width: 100%;
}
header div nav {
  display: flex;
  width: 100%;
}
header div nav div div a .logo {
  width: 250px;
}
header div nav div ul {
  list-style-type: none;
  padding-left: 50px;
  margin-left: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 84px;
}
header div nav div ul li {
  display: inline-flex;
  color: black;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-between;
  padding-left: 50px;
}
header div nav div ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-between;
  padding-left: 50px;
}
header div nav div ul li a:hover {
  --bs-nav-link-hover-color: rgb(227, 184, 240);
}
header div nav div ul li a .logo {
  width: 250px;
}

/* INICIA MAIN inicio/index */
.main {
  /*Fin Main Inicio/index */
  /*Main bebes*/
  /*Fin Main bebes*/
}
.main .cajaCards {
  position: relative;
  display: inline-block;
  text-align: center;
}
.main #subtitulo {
  background-color: rgba(209, 144, 82, 0.411);
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 2rem;
}
.main .bbPeluche {
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
}
.main .h2home {
  font-family: "Roboto-Light";
  text-align: center;
  color: rgb(158, 180, 178);
  font-size: 20px;
  height: 60px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 10px;
}
.main .imgNenas { /*seccion inicio*/
  margin-right: 10px;
  margin-bottom: 3%;
  margin-top: 2%;
  margin-left: 17px;
}
.main .imgNinos {
  margin-bottom: 3%;
  margin-top: 1%;
}
.main .portadas img {
  width: 100%;
  height: 500px;
}
.main .imgProductosb {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 450px;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: black;
  border-style: groove;
}
.main .imgProductos {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: black;
  border-style: groove;
}

/*footer*/
footer {
  background-color: rgb(225, 226, 218);
  display: flex;
  width: 100%;
}
footer div {
  display: inline;
  min-width: -moz-max-content;
  min-width: max-content;
}
footer div span {
  margin-bottom: 10px;
  flex-direction: row-reverse;
  width: 90%;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  header ul a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    padding-left: 10px;
  }
  header ul a .logo {
    width: 90px;
    height: 87px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  .portadas {
    width: 100%;
    height: 200px;
  }
  .imgProductos {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
    border-style: groove;
  }
  button.navbar-toggler {
    --bs-navbar-toggler-border-color: 0;
  }
  .carousel-item img {
    width: 340px;
    height: 326.92;
  }
  #subtitulo {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1rem;
  }
  .bbPeluche {
    margin-left: 17px;
  }
  .h2home {
    font-family: "Roboto-Light";
    font-size: 13px;
    height: 38px;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-top: 2px;
    color: black;
  }
  .imgNenas {
    margin-right: 11px;
    margin-bottom: 3px;
    margin-top: 0%;
    margin-left: 22px;
    width: 135px;
  }
  .imgNinos {
    margin-right: 24px;
    padding: 2px;
    margin-bottom: 3px;
    margin-left: 15px;
    width: 134px;
  }
  footer div {
    display: inline;
    width: 138px;
    height: 48px;
  }
  footer div span {
    margin-bottom: 4px;
    flex-direction: row-reverse;
    width: 70%;
    margin-top: 23px;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header div {
    width: 297px;
  }
  .portadas {
    width: 100%;
    height: 200px;
  }
  .imgProductos {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
    border-style: groove;
  }
  .logo a img {
    width: 80px;
    height: 100px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
}
@media screen and (min-width: 1024px) {
  header {
    background-color: rgb(207, 118, 118);
    border-radius: 15px;
  }
  header .logo {
    width: 150px;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav {
    margin: 0;
    margin-left: 154px;
    flex-direction: row;
  }
  ul {
    list-style-type: none;
    padding-left: 50px;
    margin-left: 100px;
    margin-bottom: 7rem;
  }
  ul li {
    display: inline;
    margin: 10px;
  }
  ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 50px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(227, 184, 240);
  }
  .portadas img {
    width: 100%;
    height: 200px;
  }
  .imgProductos {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
    border-style: groove;
  }
  .logo a img {
    width: 80px;
    height: 100px;
  }
  #subtitulo {
    margin-top: 3px;
  }
  .bbPeluche {
    margin-left: 342px;
    margin-right: 20px;
    width: 62%;
    height: 472px;
  }
  .h2home {
    color: black;
    font-weight: bold;
    height: 34px;
    font-size: 1.5rem;
  }
  .imgNenas {
    margin-right: 11px;
    padding: 2px;
    padding: 2px;
    margin-bottom: 3%;
    margin-top: 0%;
    margin-left: 45px;
    width: 736px;
  }
  .imgNinos {
    margin-right: 24px;
    padding: 2px;
    margin-bottom: 3%;
    margin-top: 0%;
    margin-left: 24px;
    width: 736px;
  }
}/*# sourceMappingURL=style.css.map */