/*footer*/
footer{
    background-color: rgb(225, 226, 218);
display: flex;
width: 100%;
justify-content: center;
padding: 10px 0;
align-items: center;
div {
    display: inline;
    width: 138px;
    height: 48px;
    span {
        margin-bottom: 4px;
        flex-direction: row-reverse;
        width: 70%;
        margin-top: 23px;
        font-size: 12px;
    }
}
}